.post-meta {
  color: #999;
}

.home {
  float: right;
  margin-top: 0;
}

h1 {
  clear: both;
  margin-bottom: .6em;
}

#disqus_thread {
  margin-top: 54px;
}

ul.post-list {
  list-style-type: none;
  padding: 0;
  line-height: 1.5em;
}

ul, ol {
  padding-left: 1.2em;
}

.reading a {
  color: #aaa;
}

.link a {
  font-style: italic;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

h3, h4, h5, h6 {
  margin: 1em 0;
}

.aside {
  color: #888;
  font-size: 13px;
}

.aside {
  position: absolute;
  display: block;
  width: 225px;
  left: 700px;
  line-height: 16px;
  margin-top: -16px;
}

@media (max-width: 950px) {
  /*
  .aside {
    position: static;
    display: inline;
  }

  .aside::before {
    content: "[";
  }

  .aside::after {
    content: "]";
  }
  */
  .aside {
    display: none;
  }
}
