.post-meta {
  color: #999;
}

.home {
  float: right;
  margin-top: 0;
}

h1 {
  clear: both;
  margin-bottom: .6em;
}

#disqus_thread {
  margin-top: 54px;
}

ul.post-list {
  list-style-type: none;
  padding: 0;
}

ul.post-list span {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
}

h3.reading a {
  color: #aaa;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
