.post-meta {
  color: #999;
}

.home {
  float: right;
  margin-top: 0;
}

h1 {
  clear: both;
}

#disqus_thread {
  margin-top: 54px;
}

ul.post-list {
  list-style-type: none;
}

h3.reading a {
  color: #aaa;
}
